* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
/*-------------------header-------------------------------*/
.down {
  width: 100%;
  text-align: right;
}
.down > a {
  color: #a0a7a9;
  padding-right: 10px;
  text-decoration: none;
}

.header .nav-links {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 115px;
}
.header.links {
  list-style-type: none;
  display: grid;
  /* grid-template-rows: 0px; */
  column-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr 1fr ifr 1fr;
  padding: 50px 30px 0px 20px;
}

.header .links > ul > li {
  color: #fff;
}

.header {
  min-height: 100vh;
  min-width: 100%;
  background-image: linear-gradient(rgba(4, 6, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(images/banner.png);
  background-size: cover;
  background-position: center;
}
nav img {
  width: 80px;
  margin-top: rem;
  margin-left: 1.5rem;
  border: 2px solid #aec2f9;
  border-radius: 50%;
}
ul.links {
  text-align: right;
  padding: 5rem 3rem;
}
.header .menu-bar > ul > li {
  display: inline-block;
  padding-left: 22px;
  list-style: none;
}
.header .menu-bar > ul > li a {
  color: white;
  font-size: 0.85rem;
  text-decoration: none;
  text-transform: uppercase;
}
.header .menu-bar > ul > li::after {
  content: "";
  width: 0;
  background: #0099cc;
  margin: 5px;
  display: block;
  height: 3px;
  transition: all 1s ease;
}
.header .menu-bar > ul > li:hover::after {
  width: 100%;
}
.header .sub-menu {
  display: none;
}
.menu-bar > ul > li:hover .sub1 {
  display: block;
  position: absolute;
  right: 300px;
  background-color: #0099cc;
  margin-top: 15px;
}
.menu-bar > ul > li:hover .sub2 {
  display: block;
  position: absolute;
  right: 250px;
  background-color: #0099cc;
  margin-top: 15px;
  margin-left: 15px;
}
.menu-bar > ul > li:hover .sub3 {
  display: block;
  position: absolute;
  right: 150px;
  background-color: #0099cc;
  margin-top: 15px;
  margin-left: 15px;
}
.menu-bar > ul > li:hover .sub4 {
  display: block;
  position: absolute;
  right: 100px;
  background-color: #0099cc;
  margin-top: 15px;
  margin-left: 15px;
}
.menu-bar > ul > li:hover .sub5 {
  display: block;
  position: absolute;
  right: 70px;
  background-color: #0099cc;
  margin-top: 15px;
  margin-left: 15px;
}
.menu-bar > ul > li:hover .sub6 {
  display: block;
  position: absolute;
  right: 15px;
  background-color: #0099cc;
  margin-top: 15px;
  margin-left: 15px;
}
.menu-bar > ul > li:hover .sub-menu ul {
  margin: 10px;
}
.menu-bar > ul > li:hover .sub-menu ul li {
  width: 200px;
  padding: 10px;
  border-bottom: 2px solid#aec2f9;
  text-align: left;
}
.menu-bar > ul > li:hover .sub-menu ul li:last-child {
  border-bottom: none;
}
/* 
---------fade in text animation effeet------- */
.text-box {
  width: 100%;
  height: 50%;
  text-align: center;
  margin-top: 148px;
  padding-left: 40px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-box h1 {
  font-size: 3.8rem;
  font-family: "Montserrat Medium";
  max-width: 40ch;
  text-align: center;
  transform: scale(0.94);
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}
@keyframes scale {
  100% {
    transform: scale(1);
  }
}

span {
  display: inline-block;
  opacity: 0;
  filter: blur(4px);
}

span:nth-child(1) {
  animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(2) {
  animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(3) {
  animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}
/* 
--------- END-------  fade in text animation effeet------- */

.text-box p {
  font-size: 0.85em;
  margin: px 0 10px 0px 10px;
  color: #aec2f9;
  /* text-align: justify; */
}
.hero-btn {
  text-align: center;
  display: inline-block;
  text-decoration: none;
  font-size: 1em;
  border: 1px solid whitesmoke;
  color: #ffff;
  background: transparent;
  padding: 1em 1.5em;
  margin-top: 10px;
  cursor: pointer;
  position: relative;
}
.hero-btn:hover {
  border: 1px solid #384056;
  background: #0099cc;
}
.hero-btn::before,
.hero-btn::after {
  content: "";
  background: #0099cc;
  width: 0%;
  height: 4px;
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
  border-radius: 4px;
}
.hero-btn::before {
  right: 100%;
}
.hero-btn::after {
  left: 100%;
}
.hero-btn:hover:before,
.hero-btn:hover:after {
  width: 50%;
}

/* -- -----------------course------------------------.  */

.course {
  width: 90%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}
.course > h1 {
  font-size: 36px;
  font-weight: 600;
  font-size: 1.8em;
}
.course > h1 + p {
  color: #3d3636;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 2rem;
  padding: 20px;
  background-color: #fff3f3;
}
.course h2 {
  font-size: 36px;
  font-weight: 600;
  font-size: 1.8em;
  margin-top: 50px;
}

div.row {
  margin-top: 5%;
  width: 100%;
}
.row .course-col {
  width: 100%;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}
.row .course-col > h3 {
  text-align: center;
  margin: 0 6px 5px 0;
  padding: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  background: #fff3f3;
  border-radius: 3px;
}
.row .course-col > h3:hover {
  background: linear-gradient(rgba(0, 153, 204, 0.5), #647abd79);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.row .course-col > p {
  margin: 0 6px 3px 0;
  text-align: center;
  padding: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  background: #fff3f3;
  border-radius: 3px;
}
.course-col p:hover {
  background: linear-gradient(rgba(0, 153, 204, 0.5), #647abd79);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* -- -----------------campus------------------------.  */

.campus {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}
.campus-col img {
  border: 1px solid #647abd;
  border-radius: 2px;
  width: 100%;
  height: 320px;
  overflow: hidden;
}
.campus-col {
  margin-left: 3px;
  margin-right: 6px;
  width: 30%;
  display: inline-block;
  box-shadow: rgba(124, 130, 136, 0.2) 0px 2px 2.5px;
  border-radius: 2px;
  position: relative;
  overflow: hidden;
}
.layer {
  background: linear-gradient(
    to bottom left,
    rgba(0, 153, 204, 0.5),
    rgba(104, 110, 139, 0.9)
  );
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: all 2s ease-in;
  overflow: hidden;
}
.layer:hover {
  left: 80%;
  top: 100%;
  width: 100%;
  border: 5px solid #384056;
}
.layer h3 {
  padding-block: 10px;
  font-size: 1.5em;
  color: whitesmoke;
}

/* -- -----------------facilities------------------------.  */

.facilities {
  width: 100%;
  text-align: center;
  padding-top: 100px;
  margin: auto;
}
h1 ~ p {
  width: 80%;
  margin: auto;
  color: #2e3538;
  font-size: 1em;
  padding-bottom: 25px;
}
#container-flex {
  margin-inline: auto;
  width: 80%;
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 33.33%;
  text-align: center;
}
.library {
  padding-top: 23px;
}
.facilities-col library {
  width: 100%;
  height: 100%;
}

.facilities-col img {
  width: 300px;
  height: 300px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: transparent;
  box-shadow: 5px 5px 10px -10px rgba(0, 0, 0, 0.45),
    -5px 5px 10px -10px rgba(0, 0, 0, 0.45);
}
.facilities-col p {
  text-align: center;
  padding: 10px;
}
.facilities-col h3 {
  margin-bottom: 15px;
}
.facilities-col h3::after {
  content: "";
  width: 0;
  background: #0099cc;
  margin: auto;
  display: block;
  height: 3px;
  transition: all 1s;
}
.facilities-col h3:hover::after {
  width: 60%;
}

/* -------------------campus------------------------.  */
.userview {
  width: 80%;
  margin: auto;
  padding-top: 100px;
  text-align: center;
}
.userview-col {
  margin-bottom: 30px;
  border-radius: 3px;
  flex-basis: 40%;
  display: inline-block;
  text-align: left;
  background: #fff3f3;
  border-radius: 5px;
  cursor: pointer;
}
.userview-col img {
  height: 40px;
  margin: 20px 5px 20px 20px;
  border-radius: 50%;
}
.userview-col img .col {
  background: #0099cc;
}

.userview-col .user {
  width: 300px;
}
.userview-col p {
  padding: 10px;
  margin-top: -60px;
  margin-left: 50px;
}
.userview-col h3 {
  color: #0099cc;
  font-size: 1em;
  margin-top: 15px;
  text-align: left;
  padding-left: 50px;
}
.userview-col i {
  color: rgb(181, 181, 93);
  margin-bottom: 10px;
}
.userview-col h3 + div {
  margin-left: 50px;
}
/* -- ------------------call to action------------------------. */
.cta {
  margin: 100px auto;
  width: 80%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.553), rgba(0, 0, 0, 0.7)),
    url(images/banner2.jpg);
  background-position: center;
  border-radius: 10px;
  text-align: center;
  padding: 100px 0;
}
.cta h1 {
  color: whitesmoke;
  margin-bottom: 40px;
  padding: 0;
}
.cta h1:hover {
  color: #90a9af;
}
/* ------------------about us------------------------.  */
.about-us {
  width: 100%;
  text-align: center;
  padding: 30px 0;
}
.about-us h4 {
  margin-bottom: 25px;
  margin-top: 20px;
  font-weight: 600;
  font-size: 2em;
}
.about-us p {
  padding: 10px 30px;
  text-align: justify;
  background-color: #fff3f3;
}
.icons a {
  font-size: 1em;
}
.icons p i {
  color: #d5442f;
}
.icons p {
  background-color: transparent;
  text-align: center;
}
.icons + div.video h2 {
  font-size: 1.8em;
}
.icons + div h2 + img {
  width: 700px;
  height: 300px;
  margin: 40px 0 40px 0;
}
.icons + div + div iframe {
  padding: 10px;
}

/* ------------------footer------------------------.  */

.footer {
  padding: 30px;
  background: #242c42;
}
.footer .footer-logo + i {
  color: #0099cc;
  padding-right: 10px;
  font-size: larger;
  margin: 20px 0px 20px 30px;
}
.footer .footer-logo + i + span {
  color: #ffff;
  padding-right: 10px;
}
.footer-cont > .icons {
  color: #0099cc;
  font-size: larger;
  padding-left: 0px;
  font-weight: 900;
}
.footer .footer-cont span:hover {
  color: whitesmoke;
}
.footer .footer-cont {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 50px 30px 0px 30px;
}
.footer .footer-cont li {
  color: #fff;
}
.footer-loc > h3 {
  color: #0099cc;
  font-weight: 700;
}
.footer-loc > h3:hover {
  color: whitesmoke;
}
li {
  list-style-type: none;
}
.footer .useful-links {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.footer .useful-links > ul > li {
  padding-left: 20px;
}
.footer .useful-links > h3 {
  word-spacing: 0.3em;
  color: #0099cc;
  font-weight: 700;
  padding-inline: 20px;
}
.footer .useful-links > h3:hover {
  color: whitesmoke;
}

.footer .footer-cont > .campus-foot > h3,
h3 > i {
  color: #0099cc;
  font-weight: 700;
  padding-bottom: 5px;
}
.footer-loc > ul > li:hover {
  color: #0099cc;
}
.useful-links > ul > li:hover {
  color: #0099cc;
}
.campus-foot > ul > li:hover {
  color: #0099cc;
}
/* ===========================contact page css================ */

body > .container {
  position: relative;
  width: 80%;
  background: #ffff;
  border-radius: 6px;
  padding: 20px 60px 40px 40px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
div.fixed-img1 {
  position: absolute;
  right: 5px;
  top: 0px;
}
div.fixed-img {
  position: absolute;
  right: 5px;
  bottom: 0px;
}
.container .content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .content .left-side {
  width: 25%;
  height: 100%;
  position: relative;
  margin-top: 15px;
}
.content .left-side::before {
  content: "";
  position: absolute;
  height: 75%;
  width: 2px;
  right: -25px;
  top: 20%;
  transform: translate(-50%);
  background: #ae5b5b;
}
.content .left-side .details {
  margin: 14px;
  text-align: center;
}
.content .left-side .details i {
  font-size: 30px;
  color: #0099cc;
  margin-bottom: 10px;
}
.content .left-side .details .topic {
  font-weight: 800px;
  font-size: 18px;
}
.content .left-side .details .text-one,
.content .left-side .details .text-two {
  color: #9c9ca0;
  font-size: 14px;
}
.container .content .right-side {
  width: 75%;
  height: 100%;
  margin-left: 75px;
}
.content .right-side .topic-text {
  font-size: 23px;
  color: #0099cc;
  font-weight: 600;
}
.right-side .input-box {
  height: 50px;
  width: 100%;
  margin-top: 10px;
}
form .input-box input,
form .input-box textarea {
  height: 100%;
  width: 100%;
  border: none;
  border-bottom: 2px solid #0099cc;
  padding: 5px 15px;
  font-size: 16px;
  font-weight: 500;
  background: #818f931b;
  border-radius: 6px;
  resize: none;
}
form .message-box {
  min-height: 110px;
  margin-top: 6px;
  resize: none;
}
.right-side form .button {
  display: inline-block;
}
.right-side form .button input[type="button"] {
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  background: #0099cc;
  outline: none;
  padding: 8px 16px;
  border: none;
  box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.7);
  text-align: center;
  margin: 30px auto 5px auto;
  transition: all 0.3s ease;
}
form .button input[type="button"]:hover {
  background-color: rgb(61, 177, 102);
}
